name: JMeter Load Test

on:
  push:
    branches: [main]
  workflow_dispatch: # Bisa jalan manual dari Actions tab

jobs:
  jmeter-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"

      - name: Download Apache JMeter
        run: |
          wget https://downloads.apache.org//jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xvzf apache-jmeter-5.6.3.tgz
          mv apache-jmeter-5.6.3 jmeter

      - name: Run JMeter Test
        run: |
          mkdir -p results
          jmeter/bin/jmeter -n -t jmeter/load-test.jmx -l results/results.jtl -e -o results/report-jmeter

      - name: Upload Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-report
          path: results/report
